<h2>Búsqueda por país</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- Componente padre escucha evento emitido por el hijo -->
        <app-pais-input
            (onEnter)="buscar($event)"
            (onDebounce)="sugerencias($event)"
            placeholder="Buscar país">
        </app-pais-input>
    </div>
</div>

<ul class="list-group" *ngIf="mostrarSugerencias">
    <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action">
        <a class="nav-link" routerLink="pais/{{ pais.alpha2Code }}">{{ pais.name }}</a>
    </li>
    <li class="list-group-item list-group-item-action" (click)="buscarSugerido(termino)">
      <a class="nav-link">Buscar "{{ termino }}"</a>
    </li>
</ul>

<hr>

<div class="alert alert-danger" *ngIf="error">
    No se encontró nada con el término <b>{{ termino }}</b>
</div>

<div *ngIf="paises.length >= 1" class="row">
    <div class="col">
        <!-- Componente padre brinda información al componente hijo -->
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>